<div class="container-categorias">
  <strong>Conoce nuestras categorías</strong>
  <div class="categorias">
    <div class="card">
      <img src="./assets/img/categorias/navidad.jpeg" alt="" />
      <div class="info">
        <p>Muñecos de navidad</p>
        <a href="" class="btn">Conocer más</a>
      </div>
    </div>

    <div class="card">
      <img src="./assets/img/categorias/disney.jpeg" alt="" />
      <div class="info">
        <p>Muñecos personalizados</p>
        <a href="" class="btn">Conocer más</a>
      </div>
    </div>

    <div class="card">
      <img src="./assets/img/categorias/cuadros.jpeg" alt="" />
      <div class="info">
        <p>Cuadros de navidad</p>
        <a href="" class="btn">Conocer más</a>
      </div>
    </div>

    <div class="card">
      <img src="./assets/img/categorias/pantuflas.jpeg" alt="" />
      <div class="info">
        <p>Pantuflas</p>
        <a href="" class="btn">Conocer más</a>
      </div>
    </div>

    <div class="card">
      <img src="./assets/img/categorias/peluche.jpeg" alt="" />
      <div class="info">
        <p>Osos de peluche</p>
        <a href="" class="btn">Conocer más</a>
      </div>
    </div>

    <div class="card">
      <img src="./assets/img/categorias/trapo.jpeg" alt="" />
      <div class="info">
        <p>Muñecas de trapo</p>
        <a href="" class="btn">Conocer más</a>
      </div>
    </div>
  </div>
</div>
