<header>
  <div class="container">
    <div class="container-logo">
      <img src="../../../assets/img/logo.png" alt="logo" />
    </div>

    <div class="container-menu">
      <div class="container-opciones">
        <ul>
          <li>
            <a href=""><p>Inicio</p></a>
          </li>
          <li>
            <a href=""><p>Acerca de</p></a>
          </li>
          <li>
            <a href=""><p>Categorías</p></a>
          </li>
          <li>
            <a href=""><p>Tienda</p></a>
          </li>
          <li>
            <a href=""><p>Contáctenos</p></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
