<footer>
  <div class="container-footer">
    <!-- Sección de Contacto -->
    <div class="container-contact section">
      <h3>Contáctanos</h3>
      <p><strong>Celular:</strong> (+57) 316-789-0524</p>
      <p><strong>Dirección:</strong> Cra 46a # 12 - 30</p>
      <p><strong>Email:</strong> {{ email }}</p>
    </div>

    <!-- Enlaces Útiles -->
    <div class="container-enlaces section">
      <h3>Enlaces útiles</h3>
      <ul>
        <li><a href="#">Términos y condiciones</a></li>
        <li><a href="#">Política de privacidad</a></li>
        <li><a href="#">Preguntas frecuentes</a></li>
        <li><a href="#">Sobre nosotros</a></li>
      </ul>
    </div>

    <!-- Redes Sociales y Logo -->
    <div class="container-social section">
      <div class="container-logo">
        <img src="./assets/img/icon.png" class="logo" alt="Logo" />
        <span>"Creaciones a mano, recuerdos para siempre"</span>
      </div>
      <div class="social">
        <img src="../../../assets/img/redes/facebook.png" alt="facebook" />
        <img src="../../../assets/img/redes/instagram.png" alt="instagram" />
        <img src="../../../assets/img/redes/pinterest.png" alt="pinterest" />
      </div>
    </div>

    <!-- Sección de Suscripción -->
    <div class="container-subscribe section">
      <h3>Suscríbete</h3>
      <form action="#">
        <input type="email" placeholder="Tu correo electrónico" required />
        <button type="submit">Suscribirse</button>
      </form>
    </div>
  </div>

  <!-- Créditos -->
  <div class="container-creditos">
    <strong>&copy; {{ fechaActual }}</strong>
    <span> Manualidades M.B.D - Página realizada por</span>
    <strong>AndreaIsaza</strong>
  </div>
</footer>
